<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-if指令</title>
</head>	
<body>
    <!-- 2.html结构 -->
    <div id="app">
        <input type="button" value="切换显示" @click="changIsShow"/>
        <p v-if="isShow">黑马程序员</p>
        <p v-show="isShow">黑马程序员- v-show修饰</p>
        <h2 v-if="temperature>=35">热死了</h2>
    </div>
    <!-- 1.开发环境版本，包含了有帮助的命令行警告 -->
    <!--
        v-if指令的作用是:根据表达式的真假切换元素的显示状态
        本质是通过操纵dom元素来切换显示状态
        表达式的值为true,元素存在于dom树中,为false,从dom树中移除
        频繁的切换用v-show指令,反之使用v-if,前者的切换消耗小
    -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        // 3.创建Vue示例
        var app = new Vue({
            el: '#app',
            data: {
                isShow:false,
                temperature:20
            },
            methods: {
                changIsShow:function(){
                    this.isShow = !this.isShow;
                }
            }
        });
    </script>
</body>
</html>